<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Created At</th>
  </tr>

  <% boards.each do |board| %>
    <tr>
      <td><%= link_to board.name, board_path(board.id) %></td>
      <td><%= board.email %></td>
      <td><%= board.created_at.strftime("%d %b %y at %I:%M %p") %></td>
    </tr>
  <% end %>
</table>
